<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <!-- <img class="logo" src="./assets/logo-color.svg">
        <span class="title">ng-alain</span> -->
        <app-logo size="large"></app-logo>
      </div>
      <div class="desc">{{ "app.lock.message" | translate }}</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2017
      <a href="https://github.com/zzq424/" target="_blank">Kira Yoshikage</a> power
    </global-footer>
  </div>
</div>
