<div *ngIf="!result.show" class="identity-box">
  <h3 class="text-center" style="font-size: 20px; margin-bottom: 20px;">{{ "app.account.security.reset-password" | translate }}</h3>
  <form nz-form (ngSubmit)="submitForm()" role="form" #form="ngForm">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
          <input nz-input type="password" [(ngModel)]="dto.newPassword" name="password" placeholder="{{ 'app.account.security.new-password' | translate }}" required [minlength]="[6]"
            #password="ngModel">
        </nz-input-group>
        <nz-form-explain *ngIf="(password.dirty || password.touched) && password.errors?.required">{{  "app.account.security.please-password" | translate}}</nz-form-explain>
        <nz-form-explain *ngIf="(password.dirty || password.touched) && password.errors?.rangeLength">{{ "app.account.security.password-length-less" | translate}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
          <input nz-input type="password" [(ngModel)]="dto.confirmPassword" name="confirmPassword" placeholder="{{ 'app.account.security.confirm-password' | translate}}" required [equalTo]="password"
            #confirmPassword="ngModel">
        </nz-input-group>
        <nz-form-explain *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.required">{{ "app.account.security.confirm-password-empty" | translate }}</nz-form-explain>
        <nz-form-explain *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.equalTo">{{ "app.account.security.two-password-inconsistent" | translate }}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-row>
        <nz-col nzOffset="16">
          <button nz-button nzSize="large" nzType="primary" type="submit" [disabled]="!(form.form.valid && canSubmit)">{{ 'app.submit' | translate }}</button>
          <a style="line-height: 45px;margin-left: 10px;" [routerLink]="[ '/dashboard' ]">{{ "app.back-home" | translate }}</a>
        </nz-col>
      </nz-row>
    </nz-form-item>
  </form>
</div>
<result *ngIf="result.show" type="{{result.type}}" [title]="result.title" description="{{result.description}}">
  <button nz-button [nzType]="'primary'" (click)="router.navigate(['identity/login'])" *ngIf="result.type=='success'">{{ "app.login.login" | translate }}</button>
  <button nz-button [nzType]="'primary'" (click)="result.show=false" *ngIf="result.type!='success'">{{ "app.back" | translate }}</button>
  <button nz-button (click)="router.navigate(['dashboard'])">{{ "app.back-home" | translate }}</button>
</result>