<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[passwordOp]">
    <ng-template #passwordOp>
      <a (click)="router.navigateByUrl('/identity/reset-password')">{{ "app.edit" | translate }}</a>
    </ng-template>
    <nz-list-item-meta nzTitle="{{'app.account.security.change-password' | translate }}">
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailOp]">
    <ng-template #emailOp>
      <a (click)="router.navigateByUrl('/identity/reset-email')">{{ "app.edit" | translate }}</a>
    </ng-template>
    <nz-list-item-meta nzTitle="{{ 'app.account.security.reset-email' | translate}}">
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
