<h4>{{'app.selected' | translate }}: <nz-tag [nzChecked]="'blue'" #tag></nz-tag>
</h4>
<nz-table #rowSelectionTable [nzFrontPagination]="false" nzSize="'middle'" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
  [nzData]="data" [nzTotal]="total" nzShowTotal (nzCurrentPageDataChange)="currentPageDataChange($event)"
  (nzPageIndexChange)="pageIndexChange($event)">
  <thead>
    <tr>
      <th *ngFor="let c of columns">{{ c.name }}</th>
    </tr>
  </thead>
  <tbody> 
    <tr *ngFor="let d of rowSelectionTable.data" (click)='selectRow(d)'>
      <td *ngFor="let c of columns">{{ c.get(d) }}</td>
    </tr>
  </tbody>
</nz-table>
